<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>You're Hipster - From Mephux</title>
    <script src="../javascripts/jquery.js" type="text/javascript"></script>
    <script src="../javascripts/huh.js" type="text/javascript"></script>
  </head>

  <body>

    <audio src="../crazyshit.ogg" autoplay='true' loop='true' preload='true'></audio>
    <div id="wrapper"></div>

  </body>
</html
