<!DOCTYPE HTML>
	<html lang="en-EN">
	
	<head>
		<title>Looky some code from <%= @username %></title>
		<link rel="stylesheet" type="text/css" href="stylesheets/lookycode.css" media="all">
		<script type="text/javascript">var github_username = "<%= @username %>";</script>
	</head>
	
	<body>
    <%= yield %>
    
    <script type="text/javascript" src="javascripts/jquery.js"></script>
		<script type="text/javascript" src="javascripts/highcharts.js"></script>
		<script type="text/javascript" src="javascripts/handlebars.js"></script>
    <script type="text/javascript" src="javascripts/lookycode.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9749692-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
	</body>
	
</html>