/* @group Main */

html, body{
	background-image: url(../images/bg.png);
	line-height: 1.4em;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #1f1f1f;
}

body{
}

ul{
	margin: 0;
	padding: 0;
}

/* @end */

/* @group Helpers */

span.na{
	color: #3c3c3c;
	text-decoration: line-through;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

.no-overflow{
	overflow: hidden;
}

.right{
	float: right !important;
}

.left{
	float: left;
}

.round {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.round-with-tabs{
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
}

.round-top {
   -moz-border-radius-topright: 4px;
   -moz-border-radius-topleft: 4px;
   -webkit-border-top-right-radius: 4px;
  	-webkit-border-top-left-radius: 4px;
}

.round-bottom {
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
}

.shadow {
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}

.shadow-more {
  -webkit-box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

.shadow-in {
  -webkit-box-shadow: inset 0px 1px 5px #b0b0b0;
  -moz-box-shadow: inset 0px 1px 5px #b0b0b0;
  box-shadow: inset 0px 1px 5px #b0b0b0;
}

.shadow-light{
  -webkit-box-shadow: inset 0px 1px 10px #fbfbfb;
  -moz-box-shadow: inset 0px 1px 10px #fbfbfb;
  box-shadow: inset 0px 1px 10px #fbfbfb;	
}

/* @end */

/* @group Wrapper */

#wrapper{
	min-width: 960px;
	position: relative;
	overflow: hidden;
	display: block;
}

#page{
	display: block;
	position: relative;
	overflow: hidden;
	margin: auto auto 10px;
	width: 960px;
}

#page #loading{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	position: relative;
	display: block;
	overflow: hidden;
	background-color: rgba(31,31,31,0.65);
	margin-top: 20px;
	padding: 20px;
	border: 3px solid rgba(20,20,20,0.9);
	color: #fff;
	text-align: center;
	font-size: 2.0em;
}

/* @end */

/* @group Header */

#wrapper #header{
	width: 100%;
	position: relative;
	height: 100px;
	background-color: rgba(0,0,0,0.4);
	border-bottom: 1px solid #000;
}

#wrapper #header .inside{
	margin: auto;
	width: 960px;
	display: block;
	position: relative;
	overflow: visible;
}

#wrapper #header .inside #logo{
	width: 600px;
	height: 200px;
	background: url(../images/logo.png) no-repeat;
	display: block;
	position: absolute;
	z-index: 99;
	top: 0;
	left: -50px;
}

#wrapper #header .inside #logo a{
	position: relative;
	display: block;
	overflow: hidden;
	height: 93px;
	width: 450px;
}

#wrapper #header .inside #search{
	position: relative;
	display: block;
	overflow: hidden;
	float: right;
	padding: 10px 0 10px 10px;
	bottom: 0;
	top: 23px;
	right: -5px;
}

#wrapper #header .inside #search button{
	float: left;
	margin-left: 10px;
	margin-top: 1px;
}

#wrapper #header .inside #search input{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	outline:none;
  	-webkit-box-shadow: inset 0px 1px 10px rgba(0,0,0,0.5);
  	-moz-box-shadow: inset 0px 1px 10px rgba(0,0,0,0.5);
  	box-shadow: inset 0px 1px 10px rgba(0,0,0,0.5);
	position: relative;
	display: block;
	overflow: hidden;
	border: 1px solid #2e2e2e;
	background-color: #1d1d1d;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	color: #e1e1e1;
	padding: 5px 5px 5px 7px;
	width: 300px;
	float: left;
	font-size: 1.0em;
	height: 25px;
	margin-top: -1px;
}

::-webkit-input-placeholder {
    color: #757575;
	text-shadow: #000 0 1px 0;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
}
:-moz-input-placeholder {
    color: #474747;
	text-shadow: #000 0 1px 0;
}

/* @end */

/* @group User */

#wrapper #user{
	width: 100%;
	position: relative;
	height: 150px;
	background-color: rgba(0,0,0,0.17);
	overflow: hidden;
	display: block;
	border-bottom: 1px solid #474747;
	border-top: 1px solid #383838;
}

span.username{
	font-style: normal;
	color: #7e888b;
	font-weight: normal;
	text-decoration: none;
	font-variant: normal;
	font-size: 0.9em;
	text-transform: none;
}

#wrapper #user a{
	color: #888;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
}

#user-loading{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	text-align: center;
	background: url(../images/user-loader.gif) no-repeat center center;
}

#wrapper #user .inside{
	height: 150px;
	width: 960px;
	display: block;
	position: relative;
	overflow: hidden;
	margin: auto;
}

#wrapper #user #user-box{
	width: 920px;
	background: url(../images/user-bg.png) no-repeat 0 10px;
	height: 200px;
	margin: auto;
}

#wrapper #user .inside #user-information{
	position: absolute;
	overflow: hidden;
	display: block;
	right: 0;
	bottom: 0;
	left: 0;
	height: 150px;
	top: 0;
}

#wrapper #user .inside #user-information #avatar{
	display: block;
	position: relative;
	overflow: hidden;
	float: left;
	background-color: #1f1f1f;
	border: 1px solid #0b0b0b;
	margin-top: 20px;
	padding: 8px;
}

#wrapper #user .inside #user-information #avatar img{
	overflow: hidden;
	position: relative;
	display: block;
	border: 1px solid #383838;
}

#wrapper #user .inside #user-information div.detail{
	position: absolute;
	overflow: hidden;
	display: block;
	top: 5px;
	bottom: 0;
	left: 0;
	width: 400px;
	z-index: 999;
}

#wrapper #user .inside #user-information div#name{
	color: #c7c7c7;
	font-weight: normal;
	text-decoration: none;
	font-variant: normal;
	font-style: normal;
	text-shadow: #000 0 1px 0;
	font-size: 1.1em;
	position: absolute;
	display: block;
	overflow: hidden;
	width: 400px;
	left: 115px;
	top: 21px;
	text-transform: capitalize;
}

ul#more{
	display: block;
	position: absolute;
	overflow: hidden;
	left: 110px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: 50px;
	text-align: right;
}

ul#more li{
	font-size: 0.8em;
	position: relative;
	overflow: hidden;
	display: block;
	text-transform: lowercase;
	height: 20px;
	line-height: 20px;
}

ul#more li .key{
	text-decoration: none;
	font-variant: normal;
	color: #a3a3a3;
	float: left;
	width: 60px;
	text-align: right;
	margin-right: 5px;
}

ul#more li .value{
	float: left;
	text-decoration: none;
	font-variant: normal;
	color: #6d6d6d;
	text-align: right;
	margin-right: 5px;
}

ul#user-info{
	height: 127px;
	display: block;
	position: absolute;
	overflow: hidden;
	top: 23px;
	right: 0;
	bottom: 0;
	color: #fff;
	margin: 0;
	padding: 0;
	z-index: 999;
}

ul#user-info li{
	cursor: pointer;
  	-webkit-box-shadow: inset 0px 1px 10px rgba(0,0,0,0.6);
  	-moz-box-shadow: inset 0px 1px 10px rgba(0,0,0,0.6);
  	box-shadow: inset 0px 1px 10px rgba(0,0,0,0.6);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	float: left;
	display: block;
	position: relative;
	overflow: hidden;
	background-color: #242424;
	width: 130px;
	height: 100px;
	margin-left: 15px;
	border: 1px solid #424242;
}

ul#user-info li div.user-inside{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	display: block;
	position: absolute;
	overflow: hidden;
	border: 1px solid #050505;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

ul#user-info li div.user-inside .info-title{
  	-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  	-moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  	box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
	display: block;
	position: absolute;
	overflow: hidden;
	left: 0;
	right: 0;
	text-align: center;
	color: #dfdfdf;
	text-shadow: #000 0 1px 0;
	top: 10px;
	text-transform: capitalize;
	font-size: 0.755em;
	
	background: #4a4a4a;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#575757',endColorstr='#4a4a4a');
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#575757),to(#4a4a4a));
	background: -moz-linear-gradient(-90deg,#575757,#4a4a4a);
	
	border-bottom: 1px solid #181818;
	border-top: 1px solid #646464;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 20px;
	line-height: 20px;
}

ul#user-info li div.user-inside .info-title.green{
	background: #458a45;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#56ab56',endColorstr='#458a45');
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#56ab56),to(#458a45));
	background: -moz-linear-gradient(-90deg,#56ab56,#458a45);
	border-bottom: 1px solid #357136;
	border-top: 1px solid #6bd66c;
}

ul#user-info li div.user-inside .info-title.blue{
	background: #56abeb;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#84c2f0',endColorstr='#56abeb');
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#84c2f0),to(#56abeb));
	background: -moz-linear-gradient(-90deg,#84c2f0,#56abeb);
	border-bottom: 1px solid #2a4355;
	border-top: 1px solid #8bcdfd;
}

ul#user-info li div.user-inside .info-title.orange{
	background: #a67500;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d99900',endColorstr='#a67500');
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#d99900),to(#a67500));
	background: -moz-linear-gradient(-90deg,#d99900,#a67500);
	border-bottom: 1px solid #a47513;
	border-top: 1px solid #feb724;
	color: #fff;
	text-shadow: #000 0 1px 0;
}

ul#user-info li div.user-inside .info-title.red{
	background: #7e1b00;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b12500',endColorstr='#7e1b00');
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#b12500),to(#7e1b00));
	background: -moz-linear-gradient(-90deg,#b12500,#7e1b00);
	border-bottom: 1px solid #3d0801;
	border-top: 1px solid #df3713;
	color: #fff;
	text-shadow: #000 0 1px 0;
}

ul#user-info li div.user-inside .info-count{
	display: block;
	position: absolute;
	overflow: hidden;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	text-align: center;
	color: #c7c7c7;
	text-shadow: #000 1px 1px 0;
	text-decoration: none;
	font-weight: normal;
	padding-top: 10px;
	font-size: 2.5em;
	font-style: normal;
}

/* @end */

/* @group Wrapper */


/* @end */

/* @group Buttons */

#form-actions{
	overflow: visible;
	margin-bottom: 5px;
	margin-top: 10px;
}

.form-actions {
	text-align: right;
	padding-bottom: 2px;
	float: left;
}

.form-actions .cancel {
	margin-top: 5px;
	float: left;
}

.form-actions .minibutton.cancel {
	margin-top: 0;
}

.form-actions .optional {
	display: block;
	padding-top: 8px;
	float: left;
	margin-right: 15px;
}

.form-actions .optional span.text {
	padding: 0 3px;
}

.form-actions .optional input {
	position: relative;
	top: -1px;
}

button.default,a.button.default{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	height: 30px;
	padding: 0;
	position: relative;
	top: 1px;
	color: #c3c3c3;
	text-shadow: #000 1px 1px 0;
	white-space: nowrap;
	overflow: visible;
	
	background: #454545;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#444444',endColorstr='#454545');
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#444444),to(#454545));
	background: -moz-linear-gradient(-90deg,#444444,#454545);
	border: 1px solid #545454;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	cursor: pointer;
	-webkit-font-smoothing: subpixel-antialiased!important;
	margin-right: 5px;
	font: normal normal 12px helvetica,arial,freesans,clean,sans-serif;
}

button:hover,a.button:hover{
	background: #2b2b2b;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#444444',endColorstr='#2b2b2b');
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#444444),to(#2b2b2b));
	background: -moz-linear-gradient(-90deg,#444444,#2b2b2b);
	border-top: 1px solid #464646;
	border: 1px solid #383838;
}

button:active,a.button:active{
	background: #444444;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#2b2b2b',endColorstr='#444444');
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#2b2b2b),to(#444444));
	background: -moz-linear-gradient(-90deg,#2b2b2b,#444444);
	border: 1px solid #000;
}

button.default.loading,a.button.default.loading{
	text-indent: -9999em;
	background: #575757 url(../images/icons/pager.gif) no-repeat center center;
}

button.default.loading:hover,a.button.default.loading:hover{
	text-indent: -9999em;
}


button.default span,a.button.default span {
	display: block;
	padding: 0 15px;
	line-height: 30px;
	height: 30px;
}

/* @end */

/* @group footer */

#footer{
	height: 50px;
	display: block;
	position: relative;
	overflow: hidden;
	margin: auto;
	width: 960px;
	border-top: 1px solid #494949;
	color: #777;
	font-size: 0.7em;
}

#footer .inside{
	border-top: 1px solid #2e2e2e;
	text-indent: 10px;
	text-shadow: #000 0 1px 0;
}

/* @end */

/* @group Repos */

ul#repos{
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0;
	margin: 25px 0 0;
}

ul#repos li{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	width: 300px;
	height: 140px;
	display: block;
	position: relative;
	overflow: visible;
	float: left;
	background-color: #2a2a2a;
	border: 1px solid #4c4c4c;
	margin-bottom: 27px;
}

ul#repos li.first{
	margin-right: 10px;
}

ul#repos li.middle{
	margin-right: 17px;
	margin-left: 17px;
}

ul#repos li.last{
	margin-left: 10px;
}

ul#repos li .inside{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  	-webkit-box-shadow: inset 0px 1px 20px rgba(0,0,0,0.5);
  	-moz-box-shadow: inset 0px 1px 20px rgba(0,0,0,0.5);
  	box-shadow: inset 0px 1px 20px rgba(0,0,0,0.5);
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	border: 1px solid #000;
}

ul#repos li .inside .repo-title{
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
   -moz-border-radius-topright: 5px;
   -moz-border-radius-topleft: 5px;
   -webkit-border-top-right-radius: 5px;
  	-webkit-border-top-left-radius: 5px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background: #464646;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#606060',endColorstr='#464646');
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#606060),to(#464646));
	background: -moz-linear-gradient(-90deg,#606060,#464646);
	padding: 3px 10px;
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #1f1f1f;
	border-top: 1px solid #494949;
	color: #c8c8c8;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	font-size: 1.0em;
	text-shadow: #000 0 1px 0;
	text-transform: capitalize;
	height: 30px;
	line-height: 30px;
}

ul#repos li .inside .repo-title .repo-name{
	width: 200px;
	display: block;
	position: relative;
	overflow: hidden;
}

ul#repos li .inside .repo-title .repo-size{
  	-webkit-box-shadow: inset 0px 1px 20px rgba(0,0,0,0.5);
  	-moz-box-shadow: inset 0px 1px 20px rgba(0,0,0,0.5);
  	box-shadow: inset 0px 1px 20px rgba(0,0,0,0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	position: absolute;
	display: block;
	overflow: hidden;
	float: right;
	font-size: 0.555em;
	background-color: #1f1f1f;
	margin: -1px 0 0;
	right: 10px;
	line-height: 20px;
	height: 20px;
	top: 7px;
	border: 1px solid #000;
	width: 50px;
	text-align: center;
	padding: 0 3px;
}

ul#repos li .inside div.repo-metadata{
	display: block;
	position: absolute;
	top: 35px;
	right: 0;
	bottom: 36px;
	left: 0;
	overflow: hidden;
	border-bottom: 1px solid #161616;
}

ul#repos li .inside div.repo-metadata .repo-description{
	display: block;
	position: relative;
	overflow: hidden;
	color: #c1c1c1;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	padding: 10px;
	line-height: 1.3em;
	font-size: 0.7em;
}

ul#repos li .inside div.repo-metadata .repo-box{
	width: 99px;
	display: block;
	position: relative;
	overflow: hidden;
	float: left;
	height: 50px;
}

ul#repos li .inside div.repo-footer{
	position: absolute;
	display: block;
	overflow: hidden;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(36,36,36,0.6);
	height: 35px;
	border-top: 1px solid #2c2c2c;
}

ul#repos li .inside div.repo-footer div.repo-box.first{
	border-left: none;
}
ul#repos li .inside div.repo-footer div.repo-box.last{
	border-right: none;
}

ul#repos li .inside div.repo-footer div.repo-box{
	cursor: pointer;
	width: 98px;
	display: block;
	position: relative;
	float: left;
	overflow: hidden;
	border-right: 1px solid #333;
	height: 35px;
	border-left: 1px solid #121212;
	text-align: center;
	color: #7c7c7c;
	text-shadow: #000 0 1px 0;
	font-size: 0.755em;
	padding-top: 2px;
	padding-bottom: 3px;
}

ul#repos li .inside div.repo-footer div.repo-box:hover{
	cursor: pointer;
	background-color: rgba(53,53,53,0.2);
}

ul#repos li .inside div.repo-footer div.repo-box:active{
	cursor: pointer;
	background-color: rgba(20,20,20,0.3);
  	-webkit-box-shadow: inset 0px 1px 20px rgba(0,0,0,0.5);
  	-moz-box-shadow: inset 0px 1px 20px rgba(0,0,0,0.5);
  	box-shadow: inset 0px 1px 20px rgba(0,0,0,0.5);
}

ul#repos li .inside div.repo-footer div.repo-box .box-title{
	height: 25px;
	display: block;
	position: absolute;
	overflow: hidden;
	right: 0;
	left: 0;
	font-size: 0.655em;
	bottom: 0;
	color: #504d51;
}

/* @end */

/* @group Filter Bar */

#filter{
	display: block;
	position: relative;
	overflow: hidden;
	height: 35px;
	line-height: 35px;
	background: rgba(23,23,23,0.7);
	border-bottom: 1px solid #4d4d4d;
}

/* @end */
